name: Publish package to GitHub Packages
on:
  release:
    types: [ created ]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v2
      # Setup .npmrc file to publish to GitHub Packages
      - uses: actions/setup-node@v2
        with:
          node-version: 10.24
          registry-url: https://registry.npmjs.org
      - run: npm ci
      - run: npm version --allow-same-version=true --git-tag-version=false $(git describe --tags)
      - name: npm publish
        uses: JS-DevTools/npm-publish@v1
        with:
          access: public
          token: ${{ secrets.NPM_TOKEN }}
